.product {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 5);
    border-radius: 0.125rem;
    overflow: hidden;
    background: #fff;
    &__header {
        background: linear-gradient(-180deg, #f53d2d, #f63);
        min-width: 1200px;
        &--top {
            z-index: 400;
            line-height: 2.5;
            background: transparent;
            position: relative;
            &__content {
                height: 2.125rem;
                margin: auto;
                max-width: 1000px;
                display: flex;
                justify-content: space-between;
                &--right {
                    display: flex;
                    div {
                        line-height: 2.5;
                        height: 60%;
                        background-color: transparent;
                        color: #fff;
                        text-decoration: none;
                        font-size: 0.8125rem;
                        font-weight: 400;
                        padding: 0 0.4375rem;
                        border-right: 2px solid hsla(0, 0%, 100%, 0.22);
                    }
                }
                &--left {
                    display: flex;
                    &__item{
                        color: #fff;
                        text-decoration: none;
                        font-size: 0.8125rem;
                        font-weight: 400;
                        padding: 0 0.4375rem;
                        cursor: pointer;
                    }

                }
            }
        }
        &--bottom {
            background: transparent;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 5%);
        }
    }
    &__content {
        //margin-top: 0.9375rem;
        padding: 1.125rem 0.9375rem 0;
        max-width: 1000px;
        margin: auto;
        &--title {
            background: rgba(0, 0, 0, 0.02);
            color: rgba(0, 0, 0, 0.87);
            font-size: 1.125rem;
            padding: 0.875rem;
            text-transform: capitalize;
        }
        &--element {
            margin: 1.875rem 0.9375rem 0.9375rem;
        }
    }
}
